NODE_ENV=development
PORT=5003

# mail SMTP 
MAIL_HOST=
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USERNAME=""
MAIL_FROM_ADDRESS=""
MAIL_PASSWORD=""


DB_PORT=6432
DB_USER=postgres    
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=postgres
DB_SYNC=true
DB_AUTOLOAD=true
DB_SSL=false

# Rate Limiting
RATE_LIMIT_TTL=60
RATE_LIMIT_MAX=100

# JWT
JWT_SECRET=dfdf
JWT_TOKEN_AUDIENCE=localhost:5000
JWT_TOKEN_ISSUER=localhost:5000
JWT_ACCESS_TOKEN_TTL=1296000
JWT_REFRESH_TOKEN_TTL=1296000

# IMAGEKIT
IMAGEKIT_PUBLIC_KEY==
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=